.roadmapItem{
  border: 1px solid #c6ff00;
  background-color: #222222;
  width: 100%;
  max-width: 570px;
  .roadmap__header{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c6ff00;
    .index{
      margin-right: 40px;
      aspect-ratio: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      background-color: #c6ff00;
      color: black;
    }
  }
  .roadmap__body{
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    p{
      max-width: 370px;
    }
    img{
      width: 100px;
    }
  }
}

@media (max-width: 767px) {
  .roadmapItem{
    .roadmap__body{
      flex-direction: column-reverse;
      align-items: center;
      img{
        width: 140px;
        margin-bottom: 30px;
      }
      p{
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .roadmapItem{
    .roadmap__body{
      padding: 20px 20px 40px;
    }
  }
}


@media (max-width: 575px) {
  .roadmapItem{
    .roadmap__header{
      .index{
        margin-right: 15px;
      }
    }
    .roadmap__body{
      padding: 40px 20px 40px;
    }
  }
}