@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}

button {
  display: block;
  background: inherit;
}

a,
button {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}